/*custom font*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,700i,800,800i,900,900i');

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;

}
/*-webkit-*/
body {
    font-family: montserrat, arial, verdana;
    /*  Add background Here*/
    background-color: none;
    background-size: cover;
}


a.badge-info{
  background: #1E88E5;
  padding: 5px;
  font-size: 10px;
  font-weight: 100;
  border-radius: 5px;
  margin-bottom: 5px;
  opacity: 0.5;
}

a.badge-primary{
  background: #039BE5;
  padding: 5px;
  font-size: 10px;
  font-weight: 100;
  border-radius: 5px;
  margin-bottom: 5px;
  opacity: 0.5;
}

a.badge-info:hover,
a.badge-primary:hover{
  opacity: 1.0;
}

p{
  line-height: 115%;
}

.tab-pane{
  padding-top: 10px;
}

div.row{
  width: 100%;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.madred{
  color:#ed1849;
}

input.error{
  border: #ed1849 thin solid;
}

select.error{
  border: #ed1849 thin solid;
}

label.error{
  display: inline;
  /* background: #F00; */
  color:#F00;
  font-size: 13px;
  font-weight: 700;
  float: right;
  padding: 2px;
  margin-top: -10px;
  margin-right: 10px;
}

label{
  font-weight: 500;
  max-width: 80%;
}

/*form styles*/
#msform {
    position: relative;
    margin-top: 30px;
    font-size: 13px !important;
}

#msform p.form-label{
  text-align: left !important;
  font-weight: 700;
}

#msform p.form-label.link{
  color: #FFF;
  font-weight: 700;
  font-size: 13px;
  float: left;
  background: #1E88E5;
  padding: 5px 10px;
  margin-right:8px;
  border-radius: 5px;
}

#msform p.form-label.link.video{
  background: #039BE5;
}

#msform p.form-label.success{
  background: #DCEDC8;
  color: #333132;
  text-align: center !important;
  padding: 10px;
  border-radius: 5px;
}

#msform p.form-label.link a{
  color: #FFF;
}

#msform p.form-info{
  font-size: 14px;
  color: #555 !important;
  text-align: left !important;
  background: #EEE;
  padding: 5px;
}

#msform .col-sm-3, #msform .col-sm-2, #msform .col-sm-12{
  text-align: left;
  padding-left: 40px;
}

#msform .col-sm-3 input, #msform .col-sm-2 input, #msform .col-sm-12 input{
  text-align: left;
  width: auto;
  margin: 0px;
  padding: 0px;
}


#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
    margin-top: 80px;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

p.required-text {
  text-align: left;
  color: #F00;
  font-size: 13px;
}

span.required {
  color: #F00;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    background: none;
}

#msform input.checkbox{
  width: auto !important;
  float: left;
  margin-bottom: none;
  margin-left: 10px;
  margin-right: 20px;
}

#msform input.file{
  width: 100% !important;
  border: none;
  margin-bottom: none;
  /* margin-left: 10px; */
  /* margin-right: 20px; */
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}


/*buttons*/
#msform .action-button {
    width: 150px;
    background: #ed1849;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #8367B7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

span.file_name_label{
  background: #FFF9C4;
  padding: 4px;
  color:#333132;
  font-style: italic;
  display: none;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Raleway',sans-serif;
}



#msform .action-button-file {
    width: 150px;
    background: #FFB74D;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    text-align: center;
}

#msform .action-button-file:disabled {
    width: 150px;
    background: #CCC;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-align: center;
}

ul{
  margin-left: 40px;
}
ul.nav{
  margin-left: 0px;
}

#msform .action-button-previous#update{
    width: 200px;
    margin: 0px 5px;
    text-decoration: none;
}

#msform a, #msform a.visited{
  text-decoration: none;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

.hidden{
   display:none;
}

.classOfElements {
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
}

/* mainheadings*/
.fs-main-title {
    font-size: 30px;
    position: relative;
    color: #FFF;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

/*headings*/
.fs-title {
    font-size: 18px;
    /* text-transform: uppercase; */
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 12px;
    color: #777;
    margin-bottom: 20px;
}


/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #ee0979;
    color: white;
}

/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

/* -------------------- Page Styles (not required) */

select {
   -webkit-appearance: none;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   -moz-appearance: none;
   -moz-border-radius: 2px;
   -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -moz-padding-end: 20px;
   -moz-padding-start: 2px;
   -moz-user-select: none;
   appearance: none;
   border-radius: 2px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   font-size: 14px;
   overflow: hidden;
   padding: 5px 10px;
   text-align: left !important;
   white-space: nowrap;
   width: 300px;
   clear: both;
   margin-bottom: 20px;
}

@media only screen and (max-width: 500px){
  select{
    width: 100%;
  }

  body{
    font-size: 12px;
  }
  .row{
    margin: 0 !important;
  }
  #msform fieldset{
    width: 100%;
    margin: 0%;
  }
}

.indented{
  padding-left: 40px;
}

div.click-box{
  background: #CCC;
  border-radius: 5px;
  width: 100%;
}

div.add_donor{
  padding: 2px 20px;
}

div.donor_info{
  background: #FAFAFA;
  border-bottom: #DDD thin solid;
}

div.donor_info.pledged{
  background: #FFF8E1;
}

div.donor_info.disagreed{
  background: #FFEBEE;
}

div.donor_info.donated{
  background: #F1F8E9;
}

div.name-list{
  padding: 5px 15px;
}

div.name-list p.name, p.action{
  font-size: 14px;
  padding: 10px 0 0 10px;
}
/*
p.name{

} */

div.name-list p.phone{
  font-size: 10px;
}

input.radio-button-left{
  width: 30px !important;
  margin-left: 10px;
}

div.hidden_div{
  display: none;
}

p.more_details{
  color:#1976D2;
  text-decoration: underline;
  cursor: pointer;
}

.center {
  text-align: center;
}
.lead p{
  font-size: 13px;
}

button.pledge.active, button.pledge:hover, button.pledge.active:hover{
  background: #FFA726;
  color: #FFF;
}

button.add-button{
  width: 100%;
}

/* ----------Navbar Style------------ */

.navbar-brand > img{
  float: left;
}

nav{
  margin-bottom: 30px;
}
